* {
  box-sizing: border-box; }

body {
  padding: 0;
  margin: 0;
  position: relative;
  font-family: 'Helvetica Neue', sans-serif;
  background-color: #fafafa;
  font-weight: 300; }

main {
  min-height: 900px;
  width: 100%; }
  main.popup {
    position: relative;
    z-index: 10;
    width: 320px;
    min-height: 0;
    height: 300px;
    margin: 0 auto; }

.header {
  position: absolute;
  top: 0;
  right: 0;
  height: 2.3125rem;
  width: 100%;
  padding: .5rem;
  font-size: 1rem;
  text-align: center;
  color: #888;
  background-color: white;
  opacity: 1;
  transition: opacity 200ms 1s ease-in; }
  .header.show {
    opacity: 1; }
  .header span {
    color: #9ad700; }

.googlater {
  width: 100%;
  height: 1rem;
  margin: .6rem 0; }

.form {
  position: relative;
  z-index: 5;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  text-align: center; }
  .form__text {
    display: inline-block;
    height: 2.875rem;
    width: 17.5rem;
    padding: 1rem;
    margin: 0 auto;
    border: 1px solid #5C84F0;
    font-size: 1rem;
    font-family: 'helvetica neue', sans-serif;
    letter-spacing: .05rem; }
    .form__text:focus {
      outline: 2px solid #5C84F0; }
    .form__text::-webkit-input-placeholder {
      color: #5e9ec5;
      color: #86d3fe;
      color: #ddd; }
  .form__submit {
    position: absolute;
    display: none;
    height: 1.75rem;
    width: 1.25rem;
    background-color: #5C84F0;
    outline: none;
    border: none; }

.footer {
  position: absolute;
  bottom: 1.25rem;
  right: 0;
  height: 2.3125rem;
  width: 100%;
  padding: 0rem;
  font-size: 1.25rem;
  text-align: center;
  color: #ddd; }
  .footer code {
    color: #aaa;
    transition: opacity 200ms ease-in; }
    .footer code.active {
      opacity: .2; }
  .footer small {
    color: #ddd;
    transition: opacity 200ms ease-in; }
    .footer small.active {
      opacity: .2; }

#file-folder {
  position: absolute;
  right: 1.75rem;
  top: 8.5625rem;
  height: 1.5625rem;
  width: 1.875rem;
  cursor: pointer;
  opacity: 1;
  transition: all 300ms linear; }
  #file-folder.active .upper {
    fill: white; }
  #file-folder.active .lower {
    fill: white; }
  #file-folder.offset {
    right: 0.25rem; }
  #file-folder .outer {
    fill: black; }
  #file-folder .upper {
    fill: #5C84F0; }
  #file-folder .lower {
    fill: #5C84F0; }
  #file-folder .parking {
    fill: white; }
  #file-folder:hover {
    opacity: 1;
    transition: fill 300ms linear; }
    #file-folder:hover .parking {
      fill: none;
      transition: fill 300ms linear; }
    #file-folder:hover .arrow {
      fill: white;
      transition: fill 300ms linear; }
    #file-folder:hover .outer {
      fill: black; }
    #file-folder:hover .upper {
      fill: #5C84F0; }
    #file-folder:hover .lower {
      fill: #5C84F0; }
  #file-folder:focus {
    outline: none; }
    #file-folder:focus .upper {
      fill: #48b1f3; }
    #file-folder:focus .lower {
      fill: #48b1f3; }
    #file-folder:focus .arrow {
      fill: white; }
    #file-folder:focus .parking {
      fill: none; }

@-webkit-keyframes circle {
  0% {
    stroke-dashoffset: 1000;
    stroke-width: 2;
    opacity: 1; }
  100% {
    stroke-dashoffset: 0;
    stroke: #1888e7;
    opacity: 0; } }

@keyframes circle {
  0% {
    stroke-dashoffset: 1000;
    stroke-width: 2;
    opacity: 1; }
  100% {
    stroke-dashoffset: 0;
    stroke: #1888e7;
    opacity: 0; } }

@-webkit-keyframes check {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes check {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes lightGreen {
  0% {
    fill: #FFFFFF; }
  25% {
    fill: #96D63F;
    fill: #53c534;
    fill: #48b1f3; }
  90% {
    fill: #96D63F;
    fill: #53c534;
    fill: #5C84F0;
    fill: #48b1f3; }
  100% {
    fill: #FFFFFF; } }

@keyframes lightGreen {
  0% {
    fill: #FFFFFF; }
  25% {
    fill: #96D63F;
    fill: #53c534;
    fill: #48b1f3; }
  90% {
    fill: #96D63F;
    fill: #53c534;
    fill: #5C84F0;
    fill: #48b1f3; }
  100% {
    fill: #FFFFFF; } }

@-webkit-keyframes darkGreen {
  0% {
    fill: #555; }
  15% {
    fill: #111; }
  90% {
    fill: #111; }
  100% {
    fill: #555; } }

@keyframes darkGreen {
  0% {
    fill: #555; }
  15% {
    fill: #111; }
  90% {
    fill: #111; }
  100% {
    fill: #555; } }

.component.outer.active {
  -webkit-animation: darkGreen 1.8s .3s forwards linear;
  animation: darkGreen 1.8s .3s forwards linear; }

.component.upper {
  transition: fill 200ms ease; }
  .component.upper.active {
    -webkit-animation: lightGreen 1.25s .3s forwards linear;
    animation: lightGreen 1.25s .3s forwards linear; }

.component.lower {
  transition: fill 200ms ease; }
  .component.lower.active {
    -webkit-animation: lightGreen 1.25s .3s forwards linear;
    animation: lightGreen 1.25s .3s forwards linear; }

.component.parking {
  opacity: 1; }
  .component.parking.active {
    opacity: 0; }

.component.arrow {
  opacity: 1; }
  .component.arrow.active {
    opacity: 0; }

.component.circle {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  opacity: 0; }
  .component.circle.active {
    -webkit-animation: circle 1.15s 0s ease;
    animation: circle 1.15s 0s ease; }

.component.check {
  opacity: 0; }
  .component.check.active {
    -webkit-animation: check .2s .4s ease-in forwards;
    animation: check .2s .4s ease-in forwards; }

body.lot {
  background: #4CB8C4;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #4CB8C4, #3CD3AD);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

main.lot {
  width: 100%;
  height: 100%; }

.settings__panel {
  position: absolute;
  top: -100%;
  left: 0;
  opacity: 0;
  z-index: 10;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.95);
  transition: all 200ms ease-in;
  -webkit-transform: rotateX(100deg);
  transform: rotateX(100deg); }
  .settings__panel.reveal {
    transition: all 300ms ease-out;
    top: 0;
    opacity: 1;
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg); }
  .settings__panel .column {
    height: 100%;
    padding: 20rem 0; }

.lot__column {
  max-width: 800px;
  padding: 0;
  margin: 0 auto;
  transition: opacity 250ms ease-in-out;
  opacity: 1; }
  .lot__column.hideLot {
    opacity: 0; }

.list__main {
  margin-top: 0;
  font-size: 2rem;
  list-style: none;
  padding-left: 0; }

.list__placeholder {
  border: 2px dashed rgba(0, 0, 0, 0.25);
  padding: 5rem 3rem;
  text-align: center;
  font-size: 2rem;
  text-transform: lowercase;
  color: rgba(0, 0, 0, 0.25);
  border-radius: .25rem; }

.list__item {
  padding: .375rem 0; }
  .list__item:focus {
    outline: none; }
    .list__item:focus .list__item-inner {
      background-color: white !important;
      color: red; }
  .list__item-inner {
    position: relative;
    overflow: ellipsis;
    border-radius: .15rem;
    background-color: rgba(255, 255, 255, 0.25);
    color: rgba(0, 0, 0, 0.06);
    box-shadow: none;
    padding: 1rem 1rem 1rem 2rem;
    transition: all 100ms ease; }
  .list__item.fresh .list__item-inner {
    color: #444;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0.09rem 0.05rem rgba(0, 0, 0, 0.12);
    border-top: 2px solid rgba(255, 255, 255, 0.4); }
  .list__item.fresh:hover .list__item-inner {
    background-color: rgba(255, 255, 255, 0.8);
    color: #000; }
  .list__item:not(.fresh):hover .list__item-inner {
    background-color: rgba(255, 255, 255, 0.5);
    color: rgba(0, 0, 0, 0.3); }
  .list__item:not(.fresh).selected .list__item-inner {
    background: white;
    color: #5C84F0;
    box-shadow: 0 0.09rem 0.05rem rgba(0, 0, 0, 0.12); }
  .list__item.fresh.selected .list__item-inner {
    background: white;
    color: #5C84F0; }
  .list__item .list__item-inner:focus {
    background-color: #48b1f3;
    outline: none; }

.list__search-icon {
  opacity: 0;
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 1.25rem;
  background-color: white;
  padding: 0rem; }

.controls__main {
  padding: 2rem 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.controls__button {
  padding: 0;
  font-size: 1rem;
  max-height: 3rem;
  padding: .5rem;
  cursor: pointer;
  margin: 0 .5rem;
  background-color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.65);
  border-radius: .25rem;
  box-shadow: 0 0.09rem 0.05rem rgba(0, 0, 0, 0.12); }
  .controls__button:hover {
    background-color: white;
    color: white; }
    .controls__button:hover img {
      fill: white; }

.controls__icon {
  height: 2rem;
  width: auto; }

.parking__icon {
  height: 6rem;
  width: 6rem;
  margin: 2rem auto;
  display: block; }
