$tile__fresh-selected: $blue;
$tile__fresh-hover: white;
$tile__fresh-resting: rgba(253,253,253,1);

$tile__selected: white;
$tile__hover: rgba(248,248,248,1);
$tile__resting: rgba(240,240,240,1);

main.lot{
  width: 100%;
  height: 100%;
  background-color: rgba(245,245,245,1);
}

.lot {
  &__column {
    max-width: 800px;
    padding: 0;
    margin: 0 auto;
    transition: opacity 250ms ease-in-out;
    opacity: 1;
    &.hideLot {
      opacity: 0;
    }
  }
}
.list {
  &__main {
    margin-top: 0;
    font-size: 2rem;
    list-style: none;
    padding-left: 0;
  }
  &__item {
    padding: .375rem 0;

    &-inner {
      position: relative;
      overflow: ellipsis;
      border-radius: .15rem;
      background-color: $tile__resting;

      color: rgba(220,220,220,1);
      box-shadow: none;
      padding: 2rem 2rem 2rem 3rem;
    }

    &.fresh {
      .list__item-inner {
        color: black;
        background-color: $tile__fresh-resting;
        box-shadow: 0 .07rem .05rem rgba(0,0,0,.1);
      }
      &:hover .list__item-inner {
        background-color: $tile__fresh-hover;
        color: $blue;
      }
    }
    &:not(.fresh){
      &:hover {
        .list__item-inner {
          background-color: $tile__hover;
          color: black;
        }
      }
      &.selected .list__item-inner {
        background: $tile__selected;
        color: $blue;
      }
    }
    &.fresh {
      &.selected .list__item-inner {
        background: $tile__fresh-selected;
        color: $blue;
      }
    }
  }
  &__search-icon {
    opacity: 0;
    position: absolute;
    top: 2rem;
    right: 1rem;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 1.25rem;
    background-color: white;
    padding: 0rem;
    img {
    }
  }
}

.controls {
  &__main {
    padding: 2rem 0;
  }
  &__button {
    display: inline-block;
    padding: .75rem 1.5rem;
    border-radius: .25rem;
    background: white;
    font-size: 1rem;
    min-width: 8rem;

    &:hover {
      background-color: $blue;
      color: white;
    }

    &-select {


    }
    &-delete {

    }
    &-search {

    }
  }
}
