<!DOCTYPE html>
<html>
  <head>
    <title>Parking Lot</title>
    <link rel="stylesheet" href="../css/app.css" media="screen" charset="utf-8">
    <script src="../js/jquery-2.1.4.min.js"></script>
  </head>
  <body>

    <main class="lot">
      <div class="lot__column">
        <div class="controls__main">
          <div class="controls__button controls__button-select">
            Select All
          </div>
          <div class="controls__button controls__button-delete">
            Delete
          </div>
          <div class="controls__button controls__button-search">
            Search
          </div>
          <div class="controls__button controls__button-unfresh">
            Mark as done
          </div>
        </div>
        <ul class="list__main">

        </ul>
      </div>
    </main>

    <script src="../js/list.js"></script>
  </body>
</html>
